@import "variables";

.react-toast-notifications__container {
  margin-top: 4rem;
  z-index: $zindex-popover !important;
}

.btn {
  > svg {
    transform: scale(.8);
  }
}

button:focus {
  outline: none;
}
