$picture-tile-size: 200px;

.picture-tile {
  width: $picture-tile-size;

  .picture-thumbnail {
    height: $picture-tile-size;
    object-fit: contain;
    background-color: #333;
  }

  .tag-orbs {
    position: absolute;
    top: 190px;
    left: .5rem;

    .tag-orb {
      display: inline-block;
      padding: .5rem;
      border-radius: 50%;
      margin-right: -.3rem;
    }
  }

  .duplicate-count {
    position: absolute;
    top: 190px;
    right: .5rem;
  }
}
