@import "src/styles/variables";

.add-pictures-modal {
  .drop-zone {
    padding: 3rem 0;
    border: 3px dashed lighten($primary, 5%);
    background-color: lighten($primary, 40%);
    border-radius: $border-radius-lg;
    text-align: center;
    .drop-zone-input-label {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
